

* {
    border: none;
    border-radius: 1px;
    font-family: SF Mono, Iosevka, Noto Sans CJK;
    font-size: 13px;
    font-style: normal;
    min-height: 0;
}

window#waybar {
    background: rgba(16, 18, 19, 0.92);
    color: #eeeeee;
}


#workspaces {
    background: #1c1f24;
    margin: 5px 5px;
    padding: 8px 5px;
    border-radius: 16px;
    border: solid 0px #eeeeee;
    font-weight: normal;
    font-style: normal;
}
#workspaces button {
    padding: 0px 5px;
    margin: 0px 3px;
    border-radius: 16px;
    color: #1c1f24;
    background-color: #44475a;
    transition: all 0.3s ease-in-out;
}
#workspaces button.active {
    color: #1c1f24;
    background-color: #6272a4;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}
#workspaces button:hover {
    background-color: #44475a;
    color: #1c1f24;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
}

#clock, #battery, #network, #custom-brightness, #custom-launcher, #custom-updates-pacman-aur {
    background: transparent;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    border-radius: 8px;
    border: solid 0px #6272a4;
}

#custom-brightness{
    color: #eeeeee;
    font-weight: bold;
}

#custom-updates-pacman-aur{
    color: #eeeeee;
    font-weight: bold;
}

#tray
 {
    background: #1c1f24;
    margin: 5px 5px 5px 5px;
    border-radius: 28px;
    padding: 0px 12px;
}

#clock, #battery {
	background: #1c1f24;
	padding-left: 15px;
  padding-right: 14px;
	border-radius: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  color: #eeeeee;
}

#custom-search {
  background: #1c1f24;
  padding-left: 15px;
  padding-right: 14px;
  border-radius: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 3px;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  color: #eeeeee;
}

#network {
    background: #1c1f24;
    padding: 4px 12px;
    border-radius: 16px;
    margin: 5px 0 5px 0;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: #eeeeee;
}


#battery {
    color: #eeeeee;
    font-weight: bold;
}
#battery.charging {
    color: #ffffff;
}
#battery.warning:not(.charging) {
    color: #ffffff;
}

#backlight {
    color: #eeeeee;
    border-radius: 0px 0px 0px 0px;
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 0px;
    font-weight: bold;
}

#pulseaudio {
    color: #eeeeee;
    border-radius: 8px;
    margin-left: 0px;
    font-weight: bold;
}

#custom-playerctl {
  background: #1c1f24;
  border-radius: 16px 0 0 16px; /* rounded left */
  padding: 5px 8px;
  margin: 5px 0 5px 5px;
  color: #eeeeee;
}

#custom-playerlabel {
  background: #1c1f24;
  border-radius: 0 16px 16px 0; /* rounded right */
  padding: 5px 10px;
  margin: 5px 5px 5px 0;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  color: #eeeeee;
}


#bluetooth {
  background: #1c1f24;
  border-radius: 16px 0 0 16px; /* left pill side */
  padding: 5px 10px;
  margin: 5px 0 5px 5px;
  font-size: 16px;
  color: #eeeeee;
}

#custom-notify {
  background: #1c1f24;
  border-radius: 0 16px 16px 0; /* right pill side */
  padding: 5px 10px;
  margin: 5px 5px 5px 0;
  font-size: 16px;
  color: #eeeeee;
}

#pulseaudio {
	background: #1c1f24;
	padding-left: 15px;
  padding-right: 14px;
	border-radius: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  color: #eeeeee;
}

#window,
#hyprland-window {
    background: #1c1f24;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: #eeeeee;
}

